.background{
    background: url("food-images/food-background.jpeg");
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position:right 35% bottom 18%;
    display: grid;
    grid-area:main; 
    height: 24.5rem;
    position: relative;
  top:0;
  right:0;

}
/* main{
    min-width: 45rem;
} */

.modal h1{
    color: black;
    font-weight: bold;
     text-align: center; 
}
.modal_action_negative{
    background: rgb(224, 25, 75);
    border: 0.2rem solid   rgb(212, 24, 71);
    padding:0.6rem;
    color:white;
    margin-left: 0.5rem;

}
.modal_action{
    background: rgb(8, 58, 20);
    color:white;
    border: 0.2rem solid  rgb(8, 58, 20);
    text-decoration: none;
    padding:0.5rem;
}
.modal_action:hover,
.modal_action:active{
    background: rgb(72, 224, 108);
    border: 0.2rem solid  rgb(72, 224, 108);
   
}
.modal_action_negative:hover,
.modal_action_negative:active{
    background: rgb(238, 144, 168);
    border: 0.2rem solid  rgb(238, 144, 168);
}
.background h2{
   
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 15%;
    right: 2%;
    font-size: 2.5rem;
    color: rgb(8, 6, 20);
    border:0.3rem solid black;
    background:white;
    padding:1rem;
    font-weight: bold;
    }
    .type{
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        color: red;
       /*  border: 0.2px solid cornflowerblue;
        background:rgba(22, 28, 39, 0.781); */
        }
    
    .food-image{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin:0 auto;
        height: 35rem;
       
    }
   
    .description{
        margin-bottom: 5rem;
        padding: 5rem 0.9rem;
    
        font-family: 'Fira Sans', sans-serif;
        color: black;
        font-size: 1.5rem;
        background: rgb(169, 191, 231);  
         border: 0.2rem solid  rgb(169, 191, 231); 
         box-shadow: 5px 5px 5px 0.9px black;
         height:25rem;
        
         border-radius:30px;
        width:40%;
        text-align: center;
        min-width: 17rem;

    }
    
    .description h2:hover,
    .description h2:active{
        color:whitesmoke;
    }
    
    .description p{
       font-style: italic;
    }
 
    
.background h2:hover,
.background h2:active{
    background: rgb(8, 6, 20);
    color:white;
   
    transform: translateY(-0.5rem);
    transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

@media (max-width:39rem){
    .food-image{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    margin-bottom:3rem;
        height: 50rem; 
        width:100%;
       
    }
    .description{
      margin-bottom: 2rem;
    height:40rem;
        
         border-radius:30px;
        width:100%;
        text-align: center;

    }
    .background h2{
   
        font-family: 'Lobster', cursive;
        position: absolute;
        top: 25%;
        right: 8%;
        font-size: 1.8rem;
    }

}
@media (min-width:40rem) and (max-width:50rem){
    .background{
        height: 20.5rem;
    }
}